{
    "plugins": [
        "@prettier/plugin-oxc",
        "prettier-plugin-astro",
        "prettier-plugin-tailwindcss"
    ],
    "overrides": [
        {
            "files": "*.astro",
            "options": {
                "parser": "astro"
            }
        }
    ],
    "tailwindAttributes": "./src/styles/global.css"
}
