@import "tailwindcss";
@plugin '@tailwindcss/typography';
@config '../../tailwind.config.js';

@custom-variant dark (&:where(.dark, .dark *));

html.dark {
    @apply bg-black;
}

.hidden {
    display: none;
}

/* Colours */
.text-c-normal {
    @apply text-black dark:text-white;
}

.text-c-light {
    @apply text-gray-600 dark:text-gray-400;
}

/* TODO: Increase contrast */
.text-c-lighter {
    @apply text-gray-400 dark:text-gray-500;
}

/* Shiki */
html.dark pre:has(code),
html.dark pre:has(code) span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
}
