---
import { getEntry } from "astro:content";
import UtilityLayout from "../../layouts/UtilityLayout.astro";

const utility = await getEntry("utilities", "final-grade-calculator");
---

<UtilityLayout utility={utility}>
    <section class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div class="grid gap-3">
            <label
                for="current-grade"
                class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor
        -not-allowed peer-disabled:opacity-50"
            >
                Current Grade
            </label>
            <input
                id="current-grade"
                type="number"
                class="placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md bg-neutral-100 dark:bg-neutral-900 px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-pink-700/50 focus-visible:ring-pink-400/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
                placeholder="Current grade"
            />
        </div>

        <div class="grid gap-3">
            <label
                for="grade-wanted"
                class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor
        -not-allowed peer-disabled:opacity-50"
            >
                Grade Wanted
            </label>
            <input
                id="grade-wanted"
                type="number"
                class="placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md bg-neutral-100 dark:bg-neutral-900 px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-pink-700/50 focus-visible:ring-pink-400/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
                placeholder="Grade wanted"
            />
        </div>
    </section>

    <section class="mt-4">
        <div class="grid gap-3">
            <label
                for="final-weight"
                class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor
        -not-allowed peer-disabled:opacity-50"
            >
                Final Weight
            </label>
            <input
                id="final-weight"
                type="number"
                class="placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md bg-neutral-100 dark:bg-neutral-900 px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-pink-700/50 focus-visible:ring-pink-400/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
                placeholder="Weight"
            />
        </div>
    </section>

    <hr />

    <section class="mt-4">
        <div class="grid gap-3">
            <label
                for="score"
                class="flex items-center gap-2 text-sm leading-none font-medium select-none group-data-[disabled=true]:pointer-events-none group-data-[disabled=true]:opacity-50 peer-disabled:cursor
        -not-allowed peer-disabled:opacity-50"
            >
                Score Needed
            </label>
            <input
                id="score"
                type="number"
                class="placeholder:text-muted-foreground selection:bg-primary selection:text-primary-foreground dark:bg-input/30 border-input flex h-9 w-full min-w-0 rounded-md bg-neutral-100 dark:bg-neutral-900 px-3 py-1 text-base shadow-xs transition-[color,box-shadow] outline-none disabled:pointer-events-none disabled:cursor-not-allowed disabled:opacity-50 md:text-sm focus-visible:border-ring focus-visible:ring-pink-700/50 focus-visible:ring-pink-400/50 focus-visible:ring-[3px] aria-invalid:ring-destructive/20 dark:aria-invalid:ring-destructive/40 aria-invalid:border-destructive"
                placeholder="Score"
                readonly
            />
        </div>

        <p id="message"></p>
    </section>
</UtilityLayout>

<script>
    const currentGradeElement = document.getElementById("current-grade"),
        gradeWantedElement = document.getElementById("grade-wanted"),
        finalWeightElement = document.getElementById("final-weight"),
        scoreElement = document.getElementById("score"),
        messageElement = document.getElementById("message");

    const computeScore = () => {
        const currentGrade = Number(currentGradeElement?.value),
            gradeWanted = Number(gradeWantedElement?.value),
            finalWeight = Number(finalWeightElement?.value);

        if (currentGrade && gradeWanted && finalWeight) {
            const score =
                (gradeWanted * 100 - currentGrade * (100 - finalWeight)) /
                finalWeight;

            scoreElement!.value = score.toFixed(2);

            let message = "Achievable. I have faith in you.";
            if (score > 100) {
                message =
                    'Impossible. But as Tommy Lasorda said, "The difference between the impossible and the possible lies in a man\'s determination."';
            } else if (score < 0) {
                message =
                    "Uhhh...yeah, go ahead and flunk the final, you should get the grade you want.";
            }

            messageElement!.innerText = message;
        }
    };

    currentGradeElement?.addEventListener("keyup", computeScore);
    gradeWantedElement?.addEventListener("keyup", computeScore);
    finalWeightElement?.addEventListener("keyup", computeScore);
</script>
