---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import Link from "../components/Link.astro";
import Social from "../components/Social.astro";
import ShowcaseItem from "../components/ShowcaseItem.astro";
import { getCollection } from "astro:content";
import { sortByDate } from "../lib/sort.ts";

const showcase = (
    await getCollection("showcase", ({ data }) => data.featured)
).sort((a, b) => a.data.name.localeCompare(b.data.name));

const latestPost = (
    await getCollection("posts", ({ data }) => data.status !== "draft")
).sort((a, b) => sortByDate(a.data.published!, b.data.published!))[0];
---

<Layout>
    <Container>
        <main class="place-items-center pt-2 pb-8 md:pt-8">
            <section>
                <h1
                    class="text-5xl font-bold text-pink-600 lg:text-6xl lg:tracking-tight xl:text-7xl xl:tracking-tighter"
                >
                    Hello world, I'm H. Kamran
                </h1>
                <p class="text-c-light mt-4 max-w-4xl text-lg">
                    I'm a California-based developer who <Link
                        href="/photos"
                        class="text-c-light-hover underline">takes photos</Link
                    >, is interested in public transit and data privacy and
                    security, and follows government across the U.S., the EU,
                    and the UK.
                </p>

                <Social
                    class="text-c-light mt-4"
                    liClass="text-c-light-hover"
                />
            </section>

            <section class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2">
                <div>
                    <header class="text-c-light mb-2">Latest Post</header>
                    <Link href={`/articles/${latestPost.id}`}>
                        <p class="font-semibold">
                            {latestPost.data.title}
                        </p>
                        <p class="text-c-light tracking-tight">
                            {latestPost.data.description}
                        </p>
                        <p class="text-c-lighter tracking-tight">
                            <time
                                datetime={latestPost.data.published!.toISOString()}
                                class="dt-published published"
                            >
                                {
                                    latestPost.data.published!.toLocaleDateString(
                                        undefined,
                                        {
                                            year: "numeric",
                                            month: "long",
                                            day: "numeric",
                                        },
                                    )
                                }
                            </time>
                        </p>
                    </Link>
                </div>

                <div>
                    <header class="text-c-light">Featured Projects</header>
                    <main>
                        <ul class="gap-4">
                            {
                                showcase.map((item) => (
                                    <ShowcaseItem item={item} />
                                ))
                            }
                        </ul>
                    </main>
                </div>
            </section>
        </main>
    </Container>
</Layout>
