---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import PageHeader from "../components/PageHeader.astro";
import Link from "../components/Link.astro";
import PostCard from "../components/PostCard.astro";
import { getCollection } from "astro:content";
import { sortByDate } from "../lib/sort.ts";

const notes = (
    await getCollection(
        "posts",
        ({ data }) => data.type === "note" && data.published !== "",
    )
).sort((a, b) =>
    sortByDate(new Date(a.data.published), new Date(b.data.published)),
);
---

<Layout>
    <Container>
        <main class="place-items-center pt-16 pb-8 md:pt-12">
            <PageHeader title="Notes" />

            <section class="flex flex-col mt-8 space-y-6">
                {
                    notes.map((post, index) => (
                        <Link href={`/notes/${post.id}`}>
                            <PostCard post={post} />
                        </Link>
                    ))
                }
            </section>
        </main>
    </Container>
</Layout>
