---
import Layout from "../layouts/Layout.astro";
import Container from "../components/container.astro";
import PageHeader from "../components/PageHeader.astro";
import UtilityCard from "../components/UtilityCard.astro";
import { getCollection } from "astro:content";

const utilities = (await getCollection("utilities")).sort((a, b) =>
    a.data.name.localeCompare(b.data.name),
);
---

<Layout title="Utilities">
    <Container width="narrow">
        <PageHeader title="Utilities" />

        <section class="mt-8">
            <ul class="gap-4">
                {utilities.map((utility) => <UtilityCard item={utility} />)}
            </ul>
        </section>
    </Container>
</Layout>
