---
type Props = {
    class?: string;
    width?: "narrow";
};
const { class: className, width } = Astro.props;
---

<main
    class:list={[
        "mx-auto max-w-(--breakpoint-xl) place-items-center px-5 pt-2 pb-8 md:pt-8",
        className,
        width === "narrow" && "mx-auto max-w-3xl",
    ]}
>
    <slot />
</main>
