---
import { links } from "../navigation";

const extraPages: typeof links = [
    { href: "/uses", name: "My Setup" },
    { href: "/llm-policy", name: "LLM Policy" },
    { href: "/license", name: "License" },
    { href: "/privacy", name: "Privacy Policy" },
];
---

<footer
    class="mb-10 flex flex-col lg:flex-row justify-between text-xs text-gray-500 max-w-(--breakpoint-xl) mx-auto px-5 py-6 md:py-0"
>
    <section class="gap-1 flex-1 w-full">
        <p>
            Copyright &copy; {new Date().getFullYear()} H. Kamran. All rights reserved.
        </p>
        <p>
            This site is designed and made exclusively by humans.<wbr /> No "AI"
            was used in the making of any of the content on this site.
        </p>
    </section>

    <section class="space-y-4 md:text-right">
        <ul class="space-x-4 list-none flex flex-row">
            {
                links.map((link) => (
                    <li>
                        <a
                            href={link.href}
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-100"
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>

        <ul class="space-x-4 list-none flex flex-row">
            {
                extraPages.map((link) => (
                    <li>
                        <a
                            href={link.href}
                            class="text-gray-500 hover:text-gray-900 dark:hover:text-gray-100"
                        >
                            {link.name}
                        </a>
                    </li>
                ))
            }
        </ul>
    </section>
</footer>
