---
// import Github from "simple-icons-astro/Github.astro";
// import Mastodon from "simple-icons-astro/Mastodon.astro";
// import Bluesky from "simple-icons-astro/Bluesky.astro";
// import Twitter from "simple-icons-astro11/Twitter.astro";
import { links, type CommonLink } from "../navigation";
import Link from "./Link.astro";

const extraPages: CommonLink[] = [
    { href: "/uses", name: "My Setup" },
    { href: "/feeds", name: "Feeds" },
    { href: "/ai", name: "LLM Policy" },
    { href: "/colophon", name: "Colophon" },
    { href: "/license", name: "License" },
    { href: "/privacy", name: "Privacy Policy" },
];
---

<footer
    class="mx-auto mb-10 flex max-w-(--breakpoint-xl) flex-col justify-between px-5 py-6 text-xs text-gray-500 md:py-0 lg:flex-row"
>
    <section class="w-full flex-1 gap-1">
        <p>
            Copyright &copy; {new Date().getFullYear()} H. Kamran. All rights reserved.
        </p>
        <p>
            This site is designed and made exclusively by humans.<wbr />
            <Link
                href="/ai"
                class="underline hover:text-gray-900 dark:hover:text-gray-100"
                >No "AI" was used</Link
            > in the making of any of the content on this site.
        </p>

        <!-- <p class="mt-2"> -->
        <!--     <ul class="flex flex-row gap-x-4"> -->
        <!--         <li> -->
        <!--             <Link href="https://github.com/hkamran80"> -->
        <!--                 <Github size={16} /> -->
        <!--             </Link> -->
        <!--         </li> -->
        <!--         <li> -->
        <!--             <Link href="https://twitter.com/hkamran80"> -->
        <!--                 <Twitter size={16} /> -->
        <!--             </Link> -->
        <!--         </li> -->
        <!--         <li> -->
        <!--             <Link href="https://vmst.io/@hkamran"> -->
        <!--                 <Mastodon size={16} /> -->
        <!--             </Link> -->
        <!--         </li> -->
        <!--         <li> -->
        <!--             <Link href="https://bsky.app/profile/hkamran.com"> -->
        <!--                 <Bluesky size={16} /> -->
        <!--             </Link> -->
        <!--         </li> -->
        <!--     </ul> -->
        <!-- </p> -->
    </section>

    <section class="space-y-2 md:text-right">
        <ul class="flex list-none flex-row space-x-4">
            {
                links.map((link) => (
                    <li>
                        <Link href={link.href}>{link.name}</Link>
                    </li>
                ))
            }
        </ul>

        <ul class="flex list-none flex-row space-x-4">
            {
                extraPages.map((link) => (
                    <li>
                        <Link href={link.href}>{link.name}</Link>
                    </li>
                ))
            }
        </ul>
    </section>
</footer>

<style>
    @reference "../styles/global.css";

    a {
        @apply text-gray-500 transition-colors duration-200 ease-in-out hover:text-gray-900 dark:hover:text-gray-100;
    }
</style>
