---
import Container from "./container.astro";
import Link from "./Link.astro";
import ThemeToggle from "./ThemeToggle.svelte";
import { links } from "../navigation.ts";
---

<Container>
    <header
        class="flex flex-col lg:flex-row justify-between items-start md:items-center my-5"
    >
        <div class="flex w-full lg:w-auto items-center justify-between">
            <a href="/" class="text-lg font-bold"> H. Kamran </a>
        </div>

        <ul class="flex flex-row gap-4 lg:gap-1">
            {
                links.map((link) => (
                    <li>
                        <Link
                            href={link.href}
                            class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                        >
                            {link.name}
                        </Link>
                    </li>
                ))
            }
        </ul>

        <ThemeToggle client:load />
    </header>
</Container>
