---
import Container from "./container.astro";
import Link from "./Link.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { links } from "../navigation.ts";
import Search from "astro-pagefind/components/Search";
---

<Container index="no-add">
    <header id="navigation">
        <nav
            class="flex flex-col lg:flex-row justify-between items-start md:items-center my-5"
        >
            <div class="flex w-full lg:w-auto items-center justify-between">
                <Link href="/" class="text-lg font-bold">H. Kamran</Link>
            </div>

            <ul class="flex flex-row gap-4 lg:gap-1">
                {
                    links.map((link) => (
                        <li>
                            <Link
                                href={link.href}
                                class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900 dark:text-gray-400 dark:hover:text-gray-100"
                            >
                                {link.name}
                            </Link>
                        </li>
                    ))
                }
            </ul>

            <ThemeToggle />
        </nav>
    </header>

    <Search className="pagefind-ui" uiOptions={{ showImages: false }} />
</Container>

<style is:global>
    .pagefind-ui {
        --pagefind-ui-scale: 0.75;
        --pagefind-ui-primary: navy;
        --pagefind-ui-text: black;
        --pagefind-ui-border: slategrey;
        --pagefind-ui-border-width: 1px;
        --pagefind-ui-border-radius: 0.25rem;
        --pagefind-ui-font: sans-serif;

        width: 50%;
    }

    .pagefind-ui .pagefind-ui__drawer:not(.pagefind-ui__hidden) {
        position: absolute;
        left: 0;
        right: 0;
        margin-top: 0px;
        z-index: 9999;
        padding: 0 2em 1em;
        overflow-y: auto;
        box-shadow:
            0 10px 10px -5px rgba(0, 0, 0, 0.2),
            0 2px 2px 0 rgba(0, 0, 0, 0.1);
        border-bottom-right-radius: var(--pagefind-ui-border-radius);
        border-bottom-left-radius: var(--pagefind-ui-border-radius);
        background-color: var(--pagefind-ui-background);
    }

    .pagefind-ui .pagefind-ui__result-link {
        color: var(--pagefind-ui-primary);
    }

    .pagefind-ui .pagefind-ui__result-excerpt {
        color: var(--pagefind-ui-text);
    }
</style>
