---
type Props = {
    title: string;
    subtitle?: string;
    description?: string;
    index?: "ignore" | "ignore-all";
};

const { title, subtitle, description, index } = Astro.props;

const dataAttributes: Record<string, string> = {};
if (index) {
    if (index === "ignore") dataAttributes["data-pagefind-ignore"] = "";
    else dataAttributes["data-pagefind-ignore"] = "all";
}
---

<header class="flex flex-col space-y-2" {...dataAttributes}>
    <h1 class="text-3xl lg:text-4xl xl:text-5xl font-bold p-name">
        {title}
    </h1>

    {
        (subtitle || Astro.slots.has("subtitle")) && (
            <p class="font-light leading-snug text-c-light p-summary">
                <slot name="subtitle">{subtitle}</slot>
            </p>
        )
    }

    {
        (description || Astro.slots.has("description")) && (
            <p class="font-light leading-snug text-c-light">
                <slot name="description">{description}</slot>
            </p>
        )
    }
</header>
