---
type Props = {
    title: string;
    subtitle?: string;
    description?: string;
    class?: string;
};

const { title, subtitle, description, class: className } = Astro.props;
---

<header class:list={["flex flex-col space-y-2", className]}>
    <h1 class="p-name text-3xl font-bold lg:text-4xl xl:text-5xl">
        {title}
    </h1>

    {
        (subtitle || Astro.slots.has("subtitle")) && (
            <p class="text-c-light p-summary leading-snug font-light">
                <slot name="subtitle">{subtitle}</slot>
            </p>
        )
    }

    {
        (description || Astro.slots.has("description")) && (
            <p class="text-c-light leading-snug font-light">
                <slot name="description">{description}</slot>
            </p>
        )
    }
</header>
