---
import Link from "./Link.astro";
import type { CollectionEntry } from "astro:content";

interface Props {
    item: CollectionEntry<"utilities">;
}

const { item } = Astro.props;
---

<li class="mt-2">
    <p class="text-lg font-semibold">
        {(<Link href={"/utilities/" + item.data.id}>{item.data.name}</Link>)}
    </p>
    <p class="text-c-light tracking-tight">
        {item.data.description}
    </p>
</li>
