---
import "../styles/global.css";
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en" class="text-c-normal">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>H. Kamran</title>
    </head>
    <body>
        <NavigationBar />
        <slot />
        <Footer />
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>

<style is:global>
    /* Improve Page speed */
    /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
    img {
        content-visibility: auto;
    }
</style>
