---
import "../styles/global.css";
import Head from "../components/Head.astro";
import NavigationBar from "../components/NavigationBar.astro";
import Footer from "../components/Footer.astro";

type Props = {
    title?: string;
};

const { title: providedTitle } = Astro.props;

const title = providedTitle ? providedTitle + " | H. Kamran" : "H. Kamran"
---

<!doctype html>
<html lang="en" class="text-c-normal">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="sitemap" href="/sitemap-index.xml" />

        <link
            rel="alternate"
            type="application/atom+xml"
            title="Atom feed"
            href="/feed.atom"
        />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="RSS feed"
            href="/feed.rss"
        />
        <link
            rel="alternate"
            type="application/feed+json"
            title="JSON feed"
            href="/feed.rss"
        />

        <meta name="robots" content="noai, noimageai, noml" />
        <meta name="fediverse:creator" content="@hkamran@vmst.io" />

        <meta property="og:locale" content="en_US" />

        <title>
            {title}
        </title>

        <Head />

        <slot name="structured-data" />
    </head>
    <body>
        <NavigationBar />
        <slot />
        <Footer />
    </body>
</html>

<style is:global>
    /* Improve Page speed */
    /* https://css-tricks.com/almanac/properties/c/content-visibility/ */
    img {
        content-visibility: auto;
    }
</style>
