---
import Layout from "./Layout.astro";
import Container from "../components/container.astro";
import PageHeader from "../components/PageHeader.astro";

const { frontmatter } = Astro.props;
---

<Layout>
    <Container>
        <main class="place-items-center pt-16 pb-8 md:pt-12 max-w-3xl mx-auto">
            <PageHeader
                title={frontmatter.title}
                subtitle={frontmatter.subtitle}
            />

            <article
                class="prose dark:prose-invert mt-6 max-w-none prose-a:text-pink-600"
            >
                <slot />
            </article>
        </main>
    </Container>
</Layout>
