---
import Layout from "./Layout.astro";
import Container from "../components/container.astro";
import PageHeader from "../components/PageHeader.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
    <Container>
        <main class="mx-auto max-w-3xl place-items-center pt-16 pb-8 md:pt-12">
            <PageHeader
                title={frontmatter.title}
                subtitle={frontmatter.subtitle}
            />

            <article
                class="prose mt-6 max-w-none dark:prose-invert prose-a:text-pink-600"
            >
                <slot />
            </article>
        </main>
    </Container>
</Layout>
