@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-black text-white;
}

section.footnotes {
    @apply text-sm;
}

/* Table of Contents */
.toc li ol {
    @apply ml-4;
}

.toc ol {
@apply space-y-1 list-inside list-disc
}

.toc a {
    @apply text-gray-400 hover:text-white transition-colors duration-150
}

/* Prose */
.prose thead {
    @apply text-left;
}

/* Markdown Alerts */
.markdown-alert {
    @apply mb-5 flex items-start rounded-md bg-hk-grey px-4 py-1 text-sm ring-2 ring-inset ring-hk-grey;
}

.markdown-alert-note {
    @apply ring-blue-500;
}

.markdown-alert-tip {
    @apply ring-green-500;
}

.markdown-alert-important {
    @apply ring-purple-500;
}

.markdown-alert-warning {
    @apply ring-yellow-500;
}

.markdown-alert-caution {
    @apply ring-red-500;
}

.markdown-alert .octicon {
    @apply ml-1 mr-3 mt-0.5 fill-white;
}

.markdown-alert p {
    @apply my-3;
}

/*
 * Hide Visually
 *
 * Based on [Eric Bailey's code](https://github.com/ericwbailey/ericwbailey.website/blob/cabbea9f7dbec8e6dfab6e135bb145d734a8802e/source/sass/logic/_mixin.hide-visually.scss)
 * */
.hide-visually {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/**
 * Remark footnote back-reference character
 *
 * Source: https://github.com/syntax-tree/mdast-util-to-hast/issues/69#issuecomment-1399248049
 */
.footnotes a[data-footnote-backref] {
    font-family: initial;
    font-size: 0.8rem;
    text-decoration: none;
}

/**
 * Remark footnote reference character
 */
a[data-footnote-ref] {
    text-decoration: none;
}

/**
 * Round images
 */
article img {
    @apply rounded-md;
}
